<nav class="navbar navbar-toggleable-md navbar-inverse" style="background-color: #303F9F;">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Clases</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
    <ul class="navbar-nav ml-auto">
      <!-- home -->
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="['/']" class="nav-link"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
      </li>
      <!-- dashboard -->
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" *ngIf="false"> <!-- ngIf momentaneo-->
        <a [routerLink]="['/dashboard']" class="nav-link"><i class="fa fa-user-circle fa-2x" aria-hidden="true"></i></a>
      </li>
      <!-- Registro -->
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="['/registro']" class="nav-link"><i class="fa fa-file-text fa-2x" aria-hidden="true"></i></a>
      </li>
      <!-- inicio de sesion-->
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="['/login']" class="nav-link"><i class="fa fa-sign-in fa-2x" aria-hidden="true"></i></a>
      </li>
      <!-- Ciere de sesion-->
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" *ngIf="false">
        <a [routerLink]="['/']" class="nav-link"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i></a>
      </li>
    </ul>
  </div>
</nav>