<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <div class="card mt-3">
                <div class="card-block">
                    <h1 class="display-4 text-center">CMS</h1>
                    <p class="lead text-center">CMS armado con <a href="https://expressjs.com/">Express</a>, <a href="https://www.mongodb.com/">Mongo</a> y <a href="https://angular.io/">Angular</a></p>

                    <div class="row">
                    <div class="col text-center">
                        <button type="button" class="btn btn-primary" [routerLink]="['/login']">Login</button>
                        <button type="button" class="btn btn-success"[routerLink]="['/register']">Registrate</button>
                    </div>
                </div>
                </div>
            </div>
        </div>

    </div>
</div>

