<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 mt-3">
            <ul class="list-group">
                <a href="#" class="list-group-item">
                    Clases
                </a>
                <a href="#" class="list-group-item">
                    Alumnos
                </a>
                <a href="#" class="list-group-item">
                    Calificaciones
                </a>
                <a href="#" class="list-group-item">
                    Notas
                </a>
            </ul>
        </div>
        <div class="col">
            
        </div>
    </div>
</div>